type: "SNIPPET_NOTE"
folder: "18adedc07865c59f879c"
title: "subidaimagenes/upload.php"
description: "subidaimagenes/upload.php"
snippets: [
  {
    name: ""
    mode: "PHP"
    content: '''
      <?php
      include "../functions/function.resize.php";
      include "../database/sesion.php";
      $ds          = DIRECTORY_SEPARATOR;  //1
      
      
      if (!empty($_FILES)) {
      
      
        $idHotel=$_SESSION['codigoweb'];
        if (!file_exists("../imagenes_campana/".$idHotel."/general/")) {
        mkdir("../imagenes_campana/".$idHotel."/general/", 0777, true);
        }
      
      
      
      
        $storeFolder = '../imagenes_campana/'.$idHotel.'/general';   //2
      
          $tempFile = $_FILES['file']['tmp_name'];          //3
      
          $targetPath = dirname( __FILE__ ) . $ds. $storeFolder . $ds;  //4
      
      /*sacar extension*/
      $extension = explode(".",$_FILES['file']['name']);
      $extension = $extension[1];
      ///
      /*nombre radom*/
      $nombrerandom = md5(uniqid());
      $nombrerandom .=".".$extension;
      //
      
      
        //  $targetFile =  $targetPath. $_FILES['file']['name'];  //5
        $targetFile =  $targetPath.$nombrerandom;  //5
      
      
          move_uploaded_file($tempFile,$targetFile); //6
      
      
          $foto=$targetFile;
          $tamaño = getimagesize($foto);
          $factor_recorte=0.40;
          $w=($tamaño[0]*$factor_recorte);
          $h=($tamaño[1]*$factor_recorte);
          $settings = array('w'=>$w,'h'=>$h);
          resize($targetFile,$settings);
      
      
      }
      ?>
      
    '''
  }
]
tags: []
isStarred: false
createdAt: "2017-04-17T13:27:56.950Z"
updatedAt: "2017-04-17T13:30:31.394Z"
